<section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">betvex</h1>
        <picture>
            <source srcset="
                    /img/hero/logo-desk.png 1x,
                    /img/hero/logo-desk2x.png 2x
                         " media="(min-width: 1439px)" />
            <source srcset="
                    /img/hero/logo-mob.png  1x,
                    /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
            <img class="hero-title-img" src="/img/hero/logo-mob.png" alt="betvex" loading="lazy" />
        </picture>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text"><span class="span">betvex.online</span> IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
        AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="about-section">
    <div class="container about-container">
        <h2 class="about-title">About</h2>
        <div class="about-text-wrapper">
            <p>So there's this guy Harry, right? Old fisherman with this absolutely insane handlebar mustache - I'm talking
            cartoon-level ridiculous here. Seriously, it's like something out of a cartoon. Guy's been using the same rusty old boat
            forever, completely obsessed with this one fish he named 'the Scatter' - don't ask me why. Half the time you'll find him
            napping by the dock with his line in the water, probably having another dream about his big catch.</p>
            <p>But then - SPLASH! - something huge moves down there in the water. Harry's eyes go wide because he swears he just saw
            his white whale swimming right there. It’s what keeps the old guy motivated.</p>
        </div>
    </div>
</section>
<section class="play-section">
    <div class="container">
        <h2 class="play-title">Play The Greatest Catch Bonus Buy</h2>
          <picture>
             <source srcset="
             img/play/back-desk.png 1x,
             img/play/back-desk@2x.png 2x
             " media="(min-width: 1439px)" />
             <source srcset="
             img/play/back-mob.pngg  1x,
             img/play/back-mob@2x.png 2x
             " media="(max-width: 1438px)" />
             <img class="play-back-img" src="/img/play/back-mob.png" alt="betvex" loading="lazy" />
        </picture>
            <a class="demo-btn" href="#" data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/moneyminter"
            target="gameIframe">
            <picture>
                <source srcset="
                 /img/play/desk-btn.png 1x,
                 /img/play/desk-btn@2x.png 2x
                  " media="(min-width: 1439px)" />
                <source srcset="
                  /img/play/mob-btn.png 1x,
                  /img/play/mob-btn@2x.png 2x
                   " media="(max-width: 1438px)" />
                <img class="demo-img pulse" src="/img/play/mob-btn.png" alt="Play Free" loading="lazy" />
            </picture>
        </a>
        
        <div class="ifram-wrapper">
            <iframe id="gameIframe" style="display: none; width: 100%; height: 600px; border: none; margin-top: 20px;"></iframe>
        
            <button id="closeIframeBtn" aria-label="Close" class="hidden-close-btn">
              <img src="./img/play/close.png" alt="Close">
            </button>
        </div>
    </div>
</section>
<section class="feature-section">
    <div class="container">
        <h2 class="visually-hidden">Feature</h2>
        <div class="feature-wrapper">
            <p><span class="span-two">Fishing Feature</span><br/>During Free Spins, Harry’s fishing instincts sharpen. Whenever a Wild symbol appears alongside Fish
            symbols, the Fishing Feature activates. So the Wild just grabs all the fish symbols, adds up what they're worth, and
            dumps that cash right into your winnings.</p>
            <p><span class="span-two">Dynamite Feature</span><br/>Sometimes you get a dead spin with no Fish showing up. But if there is at least one Wild symbol
            present, Harry doesn’t give up — he grabs his trusty dynamite stick. Got a Wild but no fish? Harry just chucks some
            dynamite and BOOM - random symbols just turn into fish somehow. Pretty sure that's not how you're supposed to fish, but
            whatever works, right?</p>
        </div>
    </div>
</section>