body{
  background: #18637a;
  font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 18px;
      line-height: 1.55556;
    color: #fff;
}
h2{
  font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.09091;
    text-align: center;
    color: #fff;
}