.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 20px;
box-shadow: 0 14px 42px 0 rgba(8, 15, 52, 0.06);
    background: #120704;
    z-index: 1000;
    border: 1px solid #d9dbe9;
        border-radius: 20px;
        width: 335px;
  
    height: auto;
    text-align: left;
    display: none;
}

.cookie-class {
font-size: 16px;
text-align: center;
    color: #fff;
    margin-top: 16px;
}
.popup-img{
    margin-left: auto;
    margin-right: auto;
}
.popup-span {
color: #4a3aff;
}

.cookie-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
width: 271px;
    height: 140px;
    margin-top: 16px;
}

.btn-accept {
box-shadow: 0 3px 12px 0 rgba(74, 58, 255, 0.18);
    background: #2644a1;
    border-radius: 56px;
        padding: 18px;
        width: 196px;
        height: 60px;
    box-sizing: border-box;
    border: none;
font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: start;
    gap: 6px;
}

.btn-decline {
box-shadow: 0 4px 8px 0 rgba(74, 58, 255, 0.08);
    background: #120704;
border: 1px solid #2644a1;
    border-radius: 56px;
    padding: 18px 28px;
    width: 196px;
    height: 60px;
font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
}
.mob-none{
    display: none;
}
@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 40px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 44px;
    }
.popup-img{
    margin-left: 0;
    margin-right: 0;
}
    .cookie-class {
        width: 600px;
        text-align: left;
        margin-top: 0;
    }
    .mob-none{
        display: inline;
    }
  

    .cookie-buttons {
        flex-direction: row;
        gap: 20px;
    width: 404px;
        height: 54px;
        margin-top: 0;
    }
}