.footer{
box-shadow: 0 4px 16px 0 rgba(117, 146, 251, 0.5);
  background: #08184a;
}
.footer-container{
  padding: 28px 32px;
}
.footer-desk-img{
  display: none;
}
.footer-mob-img{
  margin-left: auto;
  margin-right: auto;
}
.footer-navigation{
  display: flex;
  font-weight: 400;
    font-size: 12px;
    justify-content: space-between;
}
.footer-text{
    font-size: 14px;
    line-height: 1.42857;
text-align: center;
}
@media only screen and (min-width: 1439px) {
  .footer-container{
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
  }
  .img-wrapper{
    position: absolute;
    display: flex;
    padding-left: 20px;
    padding-right: 170px;
    align-items: center;
  }
  .footer-desk-img{
    position: absolute;
    display: block;
    right: -460px;
  }
  .footer-mob-img{
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    left: -580px;
  }
.footer-container{
  display: flex;
  align-items: center;
}
.footer-navigation{
  font-size: 16px;
  gap: 10px;
}
.footer-text{
  font-size: 18px;
}
}