.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
box-shadow: 0 4px 12px 0 rgba(49, 28, 143, 0.5);
  background: linear-gradient(0deg, #2b4caf 0%, #000c32 100%);
  height: 72px;
  width: 100%;
  border: 1px solid rgba(254, 254, 254, 0.25);
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  backdrop-filter: blur(22px);
  box-shadow: 0 4px 12px 0 rgba(49, 28, 143, 0.5);
  background-image:url("/img/header/mob.png"), linear-gradient(0deg, #2b4caf 0%, #000c32 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 86px 40px 36px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: left;
}

.menu-list-item {
  font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #fffcfc;
  transition: background 0.3s easy;
  border-radius: 360px;
    padding: 8px 12px;
}

.menu-list-item:hover {
  background: rgba(255, 255, 255, 0.2);
  
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 96px;
  }

  .header-container {
padding: 16px 88px;
    justify-content: space-between;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 360px;
    padding: 8px;
    gap: 40px;
    justify-content: center;
  }

  .header-container {
    padding: 16px 63px;
  }

  .navigation-item {
    border-radius: 360px;
      padding: 8px 12px;
      font-weight: 300;
    font-size: 18px;
    transition: background 0.3s easy;
  }

  .navigation-item:hover,
  .navigation-item:active {
    background: rgba(255, 255, 255, 0.2);;
  }
}