.hero-section{
    background-image: url("/img/hero/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-title-img{
    margin-top:180px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
   .hero-section{
    background-image: url("/img/hero/back-desk.png");
   }
   .hero-title-img{
    margin-top: 230px;
   }
}