.hero-section{
    background-image: url("/img/hero/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-title-img{
    margin-top:180px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
   .hero-section{
    background-image: url("/img/hero/back-desk.png");
   }
   .hero-title-img{
    margin-top: 230px;
   }
}
.disclaimer-section{
    background-image: url("/img/disclaimer/disclaimer-mob.png");
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
}
.disclaimer-container{
    padding-top: 32px;
    padding-bottom: 32px;
}
.disclaimer-text{
    margin-top: 28px;
        font-size: 28px;
        line-height: 1.14286;
     
}
.disclaimer-title{
        font-size: 32px;
        line-height: 1.25;
}
.span{
     font-weight: 900;  
}
@media only screen and (min-width: 1439px) {
  .disclaimer-section{
    background-image: url("/img/disclaimer/disclaimer-desk.png");
  }
  .disclaimer-container{
    padding: 60px 106px;
  }
  .disclaimer-title{
    font-size: 44px;
    line-height: 1.09091;
}
.disclaimer-text{
        font-size: 36px;
        line-height: 1.33333;
}
}
.about-section{
    background-image: url("/img/about/about-mob.png");
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 1105px;
}
.about-text-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 1439px) {
.about-section{
    background-image: url("/img/about/about-desk.png");
    height: 588px;
}
.about-container{
    padding-left: 80px;
}
.about-title{
    text-align: left;
}
.about-text-wrapper{
    margin-top: 60px;
    width: 681px;
}
}