@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');

.background {
    background: #fff;
font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
    color: #292a2b;
    text-align: justify;
}

.privacy-title {
font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.14286;
    text-transform: uppercase;
    text-align: center;
    color: #292a2b;
    margin-top: 40px;
    margin-bottom: 40px;
    background: none;
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-weight: 700;
color: #292a2b;
    margin-top: 20px;
font-size: 20px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1439px) {
    .background {
        text-align: left;
    }

    .privacy-title {
        font-weight: 800;
            font-size: 32px;
        margin-top: 120px;
    }
}